<mat-progress-spinner
  *ngIf="loading | async else cocktailsArea" mode="indeterminate"
></mat-progress-spinner>

<ng-template #cocktailsArea>
  <div fxLayout="column">
    <div class="content" *ngFor="let cocktail of cocktails | async">
      <mat-card
        class="example-card"
        *appHasRoles="{role: ['user', 'admin'], published: cocktail.isPublished}"
      >
        <mat-card-header fxLayoutAlign="space-between center">
          <mat-card-title>{{ cocktail.title }}</mat-card-title>
          <div *appRoles="['admin']">
            <span
              class="material-icons"
              *ngIf="cocktail.isPublished === false"
              (click)="onPublish(cocktail._id)"
            >publish</span>
          </div>
        </mat-card-header>
        <img mat-card-image [src]="api + '/uploads/' + cocktail.image" alt="cocktail image">
        <mat-card-actions>
          <button mat-button [routerLink]="['info', cocktail._id]">VIEW</button>
          <button mat-button *appRoles="['admin']" (click)="onRemove(cocktail._id)">DELETE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ng-template>


