mat-card
  width: 29%
  margin: 10px

mat-card:hover
  box-shadow: 0 0 8px 3px darkgray

img
  height: 17rem

@media screen and (max-width: 1124px)
  mat-card
    width: 70%
    margin: 10px auto

  img
    height: 25rem

@media screen and (max-width: 876px)
  mat-card
    width: 35%

  img
    height: 13rem

@media screen and (max-width: 576px)
  mat-card
    width: 80%

.material-icons
  margin-bottom: 10px
  cursor: pointer

.material-icons:hover
  color: darkgray
